<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
  <h1>File Upload</h1>
  <form method="post" action="/" enctype="multipart/form-data">
    <div>
      <label for="upload">Select file: </label>
      <input type="file" name="upload">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  </body>
</html>
